*{
 box-sizing: border-box;
}

.logo__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    
}

.logo__ford{
    width: 100px;
}

.links__ford{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.imagem__legenda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    text-align: center;
}

.imagem__principal{
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.texto__legenda{
    margin-top: 20px;
    font-size: 18px;   
}

footer{
    background-color: #1d3d7d; 
   
}

.agrupamento__footer{
  display: flex;
  
}

.agrupamento__imagem{
    transform: scale(0.8)
}

.paragrafo__footer{
    color: white;
}

.logo__ford__2{
    
}


